.sidebar{
  width: 30%;
  float: left;
  background-color: green;
}

.my-class{
  border: 2px solid green;
  padding: 4px;
  margin-right: 20px;
  background-color: orange;
  width: 60%;
}

h1 {
  color: #0000ff;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

img{
  float: right;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
